<div class="parent">
  <div class="country">USA</div>
  <div class="cities">San Francisco</div>
  <div class="cities">New York</div>
</div>
<div class="parent">
  <div class="country">France</div>
  <div class="cities">Nice</div>
  <div class="cities">Paris</div>
</div>
<div class="parent">
  <div class="country">Germany</div>
  <div class="cities">Berlin</div>
  <div class="cities">Munich</div>
</div>

<hr>

<div class="info">
  <p>Simply setting an element's position to <code>position: sticky;</code> has no immediate effect</p>
  <p>Only when we assign a property like top, left, bottom or right does the effect occurr.</p>
  <p>Sticky is a hybrid of relative and fixed positioning.</p>
  <p>When the page is scrolled and the top of the element is kept in view until its parent scrolls out of view.</p>
</div>