<h2 class="center-text">Useful Resources & Links</h2>
<h3 class="center-text">Section 4, Lecture 57</h3>

<div class="info">
  <p><a href="https://stackoverflow.com/questions/12889362/difference-between-id-and-class-in-css-and-when-to-use-it">A discussion on "classes vs IDs"</a></p>
  <p><a href="https://css-tricks.com/when-using-important-is-the-right-choice/">When is using !important okay?</a></p>
  <p><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:not">The :not()  pseudo class</a></p>
  <p><a href="https://caniuse.com/">Can I Use</a></p>
</div>
