<header class="main-header">
  <div>
    <a routerLink="/lessons" class="main-header__brand">
      uHost
    </a>
  </div>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <a href="packages/index.html">Packages</a>
      </li>
      <li class="main-nav__item">
        <a href="customers/index.html">Customers</a>
      </li>
      <li class="main-nav__item">
        <a href="start-hosting/index.html">Start Hosting</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <section id="product-overview">
      <h1>Get the freedom you deserve.</h1>
  </section>
  <section id="plans">
      <h1 class="section-title">Choose Your Plan</h1>
      <p>Make sure you get the most for your money!</p>
  </section>
</main>

<div class="info">
  <ul>
    <li>There are Pseudo Classes and there are Pseudo Elements</li>
    <li>Psuedo classes allow us to define a style for the 'state' of an element (i.e. hover, active)  <br>
        <code>class: name</code><br>
        A full list of Psuedo classes can be found on the mdn website
    </li>
    <li>Psuedo elements allow us to define a style for a specific part of an element <br>
        <code>: : element name</code> <br>
        A full list of Psuedo elements can be found on the mdn website
    </li>
    <li>NOTE: The ::before and ::after psuedo elements allow you to actually add and style additional content!</li>
  </ul>
</div>
        