<main>
  <section id="product-overview">
    <h1>Get the freedom you deserve</h1>
  </section>

  <section id="plans">
    <h1 class="section-title">Choose your plan</h1>
  </section>
</main>

<div class="info">
    <p>'Cascading' means that multiple styles can apply to an html element'</p>
    <p>Order of style precedence (specifity)</p>
  <ul>
    <li>1. in-line html style attribute</li>
    <li>2. id selectors</li>
    <li>3. Class, psuedo-class & attribute selectors</li>
    <li>4. Element selectors</li>
    <li>5. Universal selector</li>
  </ul>
</div>
  