<main>
  <section id="product-overview">
      <h1>Get the freedom you deserve.</h1>
  </section>
  <section id="plans">
      <h1 class="section-title">Choose Your Plan</h1>
      <p>Make sure you get the most for your money!</p>
  </section>
</main>

<div class="info">
  <ul>
    <li>The body of an html document has a default margin. We set this to 0px.</li>
    <li>h1 elements also have a defaullt margin.</li>
  </ul>
  <p>Margin Collapsing</p>
  <ul>
    <li>Margin Collapsing occurs when two elements are adjacent to each other</li>
    <li>The margins of the two elements are Collapsed into one margin</li>
    <li>The width of the collapsed margin is equal to the largest margin of the two elements</li>
    <li>For this reason, it's a good idea to use specific properties like margin-top, margin-botton</li>
  </ul>
</div>
    
    