<main>
    <section id="product-overview">
      <h1>Get the freedom you deserve</h1>
    </section>
  
    <section id="plans">
      <h1 class="section-title">Choose your plan</h1>
      <p>Make sure you get the most for your money!</p>
    </section>
  </main>
  
  <div class="info">
    <p>There are four types of combinators</p>
    <ul>
      <li>Adjacent Sibling: h2 + p &#123; &#125;; Applies to all paragraphs directly following an h2 tag.</li>
      <li>General Sibling: h2 ~ p &#123; &#125;; Applies to all paragraphs following an h2 tag (need not be adjacent).</li>
      <li>Child: div > p &#123; &#125;; Applies to all paragraphs that are immediate children of a div.</li>
      <li>Descendant: div p &#123; &#125;; Applies to all children of a div.</li>
      <li></li>
      <li></li>
    </ul>
  </div>
  
  