body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

a.active {
    color:  purple;
}

a {
    color: blue;
}

nav {
    margin-bottom: 15px;
    background: #fa923f;
    padding: 8px;
}

.main-section {
    height: 800px;
    border: 1px solid #ccc !important;
    padding: 16px;
}

.highlighted {
    border: 2px solid #fa923f;  /* 'wins' because this rule is defined last */
}

code {
    margin-left: 10px;
}