<nav>
  <a routerLink="/lesson051" fragment="intro" class="active">Intro</a>
  <a routerLink="/lesson051" fragment="outro">Outro</a>
</nav>

<section id="intro" class="main-section highlighted">
  <p>This is the Intro section.</p>
</section>

<section id="outro" class="main-section">
  <p>This is the Outro section.</p>
</section>

<div class="info">
  <p>
    You can use multiple classes on one element <br>
    <code>&lt;div class="class1 class2"&gt;</code>
  </p>
  <p>
    You can select elements that have a class assigned to them <br>
    <code>&lt;a href="#" class="active"&gt;</code> <br>
    this can be selected with <br>
    <code>a.active &#123; ... &#125;</code> <br>
  </p>
</div>