<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<button (click)="getSelectedRows()">Get Selected Rows</button>
<br><br>
<ag-grid-angular 
    #agGrid
    style = "width: 500px; height: 500px;" 
    class = "ag-theme-balham"
    [rowData] = "rowData | async" 
    [columnDefs] = "columnDefs"
    [enableSorting] = "true"
    [enableFilter] = "true"
    rowSelection = "multiple"
    >
</ag-grid-angular>
