<main>
  <section id="product-overview">
    <h1>Using a selector in a .css file</h1>
  </section>

  <section id="plans">
    <h1 class="section-title">Choose your plan</h1>
  </section>
</main>

<div class="info">
  <ul>
    <li>We can set styles by selecting html elements.</li>
    <li>We can set styles by selecting classes assigned to html elements. These are defined with a dot (.) in front of the class name.</li>
    <li>You can set a universal style that applies to all elements. These are represented by an asterisk (*).</li>
    <li>We can set styles by selecting the ids given to html elements. These are defined with a hash (#) in front of the id name.</li>
    <li>We can set styles by selecting the attributes given to html elements. These are by enclosing the attribute name in brackets [attr-name].</li>
  </ul>
</div>
