<h2>Positioning Elements</h2>
<ul>
  <li>The position property is handled automatically to ensure document flow. The default is <code>position: static;</code></li>
  <li>It is possible to change the position property to allow you to place elements differently</li>
  <li>Other possible values are below:</li>
  <li><code>position:absolute;</code></li>
  <li><code>position:relative;</code></li>
  <li><code>position:fixed;</code></li>
  <li><code>position:sticky;</code></li>
  <li>If we change the position property, we need to be aware of the <strong>positioning context</strong></li>
  <li>What will the values we supply in the top, left, width, height use as a reference point?</li>
  <li>&lt;div&gt;</li>
  <li>viewport</li>
  <li>&lt;html&gt;</li>
  <li>&lt;body&gt;</li>
  <li>&lt;...&gt;</li>
</ul>