<main>
  <section id="product-overview">
    <h1>Get the freedom you deserve</h1>
  </section>

  <section id="plans">
    <h1 class="section-title">Choose your plan</h1>
    <p>Make sure you get the most for your money!</p>
  </section>
</main>

<div class="info">
  <ul>
    <li>You can increase the specificity of inheritance by using the word 'inherit' in the block of another selector, like class.</li>
    <li>Combinators allow you to use more than one selector to specify an element. Simply seperate the names and prefixes with spaces.</li>
    <li>Combinators with the more selectors have higher specificity than those with fewer selectors (I think).</li>
  </ul>
</div>

