<main>
  <section id="product-overview">
      <h1>Get the freedom you deserve.</h1>
  </section>
  <section id="plans">
      <h1 class="section-title">Choose Your Plan</h1>
      <p>Make sure you get the most for your money!</p>
  </section>
</main>

<div class="info">
  <ul>
    <li>box-sizing is a property that tells the browser how to apply width and height properties</li>
    <li>The default value for box-sizing is content-box</li>
    <li>content-box means that the width and height are applied to only the content and the padding, border & margin are added seperately</li>
    <li>border-box means we want to apply the sizes to the border and size the content to fit.</li>
    <li>Despite content-box being the default property, usually you will want to set the box-sizing to border-box because it makes more sense.</li>
    <li>Browsers will override the box-sizing property if you try to override the property of the body to make all elements use box-sizing.</li>
    <li>In order to make all elements use box sizing you will have to use the universal selector (*)</li>
  </ul>
</div>
  