<div class="info">
  <h3>Shorthand Properties</h3>
  <p>Combine the values of multiple properties into a single property</p>
  <h4>Seperate properties</h4>
  <div class="my-box">
    <code>
      border-width: 2px; <br>
      border-style: dashed | solid; <br>
      border-color: orange; <br>
    </code>
  </div>
  <p>If you omit a property, the default property for that element will be used.</p>
  <h4>Shorthand Property</h4>
  <div class="my-box">
    <code>
      border: 2px dashed orange;
    </code>
  </div>
  <p>Margin is an example of a property with many shorthand properties</p>
  <div class="my-box">
    <code>
      margin: 5px 10px 5px 10px; /* top right bottom left */ <br>
      margin: 5px; /* top & bottom right & left */ <br>
      margin: 5px; /* same value for all sides */
    </code>
  </div>
</div>