<h2>Applying Additional Styles & Importing Google Fonts</h2>
<p>We use sans-serif here which uses the default font specified in your browser.</p>
<p>See your browser'ssettings to find what the default fonts are.</p>
<p>In Chrome there are settings for Standard, Serif, Sans-Serif and Fixed-Width Font Families.</p>
<p>You cannot depend on a browser to have a specific font. If you need to do theis you can import fonts from Google. https://fonts.google.com</p>
<p>Here we will import the font 'Anton'.</p>
<p>Click to plus next to the font you want on the page and a popup will appear with a link. https://fonts.googleapis.com/css?family=Anton</p>
<main>
  <section>
    <h1>Using a selector in a .css file</h1>
  </section>

  <section>
    <h1>Choose your plan</h1>
  </section>
</main>
