<main>
  <section id="product-overview">
      <h1>Get the freedom you deserve.</h1>
  </section>
  <section id="plans">
      <h1 class="section-title">Choose Your Plan</h1>
      <p>Make sure you get the most for your money!</p>
  </section>
</main>

<div class="info">
  <ul>
    <li>To the browser every element is a box</li>
    <li>A box starts with the content.</li>
    <li>Surrounding the content is the padding. </li>
    <li>Sourrounding the padding is the border</li>
    <li>Surrounding the border is the margin.</li>
  </ul>
</div>
  
  