<main>
  <section id="product-overview">
      <h1>Get the freedom you deserve.</h1>
  </section>
  <section id="plans">
      <h1 class="section-title">Choose Your Plan</h1>
      <p>Make sure you get the most for your money!</p>
  </section>
</main>

<div class="info">
  <ul>
    <li>Block level elements, like div and h1, are 'block level' elements and have 100% width by default</li>
    <li>Inline elements, like anchor tags, do not default to 100% width</li>
    <li>You can make it narrower by setting the width property.</li>
  </ul>
</div>
