<body>
  <div class="parent">
      <div class="child-1">Navigation Bar</div>
      <div class="child-2">Background Image</div>
      <div class="child-3">Features</div>
  </div>
</body>

<hr>

<div class="info">
  <h3>This page requires that the styles.css be changed</h3>
  <ul>
    <li><strong>Navigation Bar</strong></li>
    <li>Changing the top property of the first child element has no effect without changing the position property.</li>
    <li>We changed the first child to <code>position: fixed;</code></li>
    <li>We then changed the first child to left: 0; and top: 0;.</li>
    <li>We then changed the first child to box-sizing: border-box;</li>
    <li>We changed the first child to a span and adjusted the css and found that the position also works on inline elements.</li>
  </ul>
</div>