<div style="text-align: center;">
  <h2>Useful resources an links</h2>
  <h3>Section 3: Lecture 49</h3>
</div>
<ul>
  <li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model">CSS Box Model</a></li>
  <li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing">box-sizing</a></li>
  <li><a target="_blank" href="https://www.w3schools.com/css/css_dimension.asp">More on height & width</a></li>
  <li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/display">The display Property</a></li>
  <li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes">Pseudo Classes on the MDN</a></li>
  <li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements">Dive deeper into Pseudo Elements</a></li>
</ul>
