<header class="main-header">
  <div>
    <a routerLink="/lessons">
      uHost
    </a>
    <nav class="main-nav">
      <ul class="main-nav__items">
        <li class="main-nav__item">
          <a href="packages/index.html">Packages</a>
        </li>
        <li class="main-nav__item">
          <a href="customers/index.html">Customers</a>
        </li>
        <li class="main-nav__item">
          <a href="start-hosting/index.html">Start Hosting</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <section id="product-overview">
      <h1>Get the freedom you deserve.</h1>
  </section>
  <section id="plans">
      <h1 class="section-title">Choose Your Plan</h1>
      <p>Make sure you get the most for your money!</p>
  </section>
</main>

<div class="info">
  <ul>
    <li>The display property has the values 'block', 'inline' & 'inline-block'</li>
    <li>Elements with inline display properties don't really have top and bottom margins (ignored by browsers)</li>
    <li>The 'none' value removes the element from the document flow (it's still in the DOM)</li>
    <li>inline-block allows an element to display inline (doesn't have 100% width) but also have height</li>
  </ul>
</div>
    