<form class="form-horizontal" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{ pageTitle }}</h3>
    </div>
    <div class="panel-body">

      <div class="form-group" [ngClass]="{'has-error' : formErrors.fullName }">
        <label for="fullName" class="col-sm-2 control-label">Full Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="fullName" formControlName="fullName" (blur)='logValidationErrors()'>
          <span class="help-block" *ngIf="formErrors.fullName">
            {{ formErrors.fullName }}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Contact Preference</label>
        <div class="col-md-8">
          <label class="radio-inline">
            <input type="radio" value="email" formControlName="contactPreference">Email
          </label>
          <label class="radio-inline">
            <input type="radio" value="phone" formControlName="contactPreference">Phone
          </label>
        </div>
      </div>

      <div formGroupName='emailGroup'>
        <div class="form-group" [ngClass]="{'has-error' : formErrors.email }">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="email" formControlName="email" (blur)='logValidationErrors()'>
            <span class="help-block" *ngIf="formErrors.email">
              {{ formErrors.email }}
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error' : formErrors.confirmEmail || formErrors.emailGroup}">
          <label for="confirmEmail" class="col-sm-2 control-label">Confirm Email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="confirmEmail" formControlName="confirmEmail" (blur)='logValidationErrors()'>
            <span class="help-block" *ngIf="formErrors.confirmEmail || formErrors.emailGroup">
              {{ formErrors.confirmEmail ? formErrors.confirmEmail : formErrors.emailGroup }}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error' : formErrors.phone }">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="phone" formControlName="phone" (blur)='logValidationErrors()'>
          <span class="help-block" *ngIf="formErrors.phone">
            {{ formErrors.phone }}
          </span>
        </div>
      </div>
  
      <div class="well">

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <button type='button' class="btn btn-primary" [disabled]="employeeForm.get('skills').invalid" (click)='addSkillButtonClick()'>
              Add Skill
            </button>
          </div>
        </div>

        <div formArrayName="skills" *ngFor="let skill of employeeForm.get('skills').controls; let i = index">
          
          <hr *ngIf="i>0">
          
          <div [formGroupName]="i">

            <div class="form-group" [ngClass]="{'has-error' : skill.get('skillName').invalid && skill.get('skillName').touched }">
              <label [attr.for]="'skillName' + i" class="col-sm-2 control-label">Skill</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" [id]="'skillName' + i" formControlName="skillName" placeholder="C#, Java, Angular etc...">
                <span class="help-block" *ngIf="skill.get('skillName').errors?.required && skill.get('skillName').touched">
                  Skill Name is required
                </span>
              </div>
              <div *ngIf="employeeForm.get('skills').length > 1" class="col-sm-6">
                <button type="button" class="btn btn-danger btn-sm pull-right" title="Delete Skill" (click)="removeSkillButtonClick(i)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error' : skill.get('experienceInYears').invalid && skill.get('experienceInYears').touched}">
              <label for="{{'experienceInYears' + i}}" class="col-sm-2 control-label">Experience</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="{{'experienceInYears' + i}}" formControlName="experienceInYears" placeholder="In Years">
                <span class="help-block" *ngIf="skill.get('experienceInYears').errors?.required && skill.get('experienceInYears').touched">
                  Experience In Years is required
                </span>
              </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error' : skill.get('proficiency').invalid && skill.get('proficiency').touched }">
              <label class="col-md-2 control-label">Proficiency</label>
              <div class="col-md-8">
                <label class="radio-inline">
                  <input type="radio" value="beginner" formControlName="proficiency">Beginner
                </label>
                <label class="radio-inline">
                  <input type="radio" value="intermediate" formControlName="proficiency">Intermediate
                </label>
                <label class="radio-inline">
                  <input type="radio" value="advanced" formControlName="proficiency">Advanced
                </label>
                <span class="help-block" *ngIf="skill.get('proficiency').errors?.required && skill.get('proficiency').touched">
                  Proficiency is required
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <div class="btn-toolbar">
        <button class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
        <button class="btn btn-primary" type="button" (click)="onLoadDataClick()">Load Data</button>
        <button class="btn btn-primary" type="button" (click)="onPatchDataClick()">Patch Data</button>
      </div>
    </div>
  </div>
</form>

<table border="1">
  <tr>
    <th style="padding: 10px;">FormGroup</th>
    <th style="padding: 10px;">FormControl (fullName)</th>
  </tr>
  <tr>
    <td style="padding: 10px;">
      touched : {{ employeeForm.touched }}
      <br>dirty : {{ employeeForm.dirty }}
      <br>valid : {{ employeeForm.valid }}
      <br>values : {{ employeeForm.value | json }}
    </td>
    <td style="padding: 10px;">
      touched : {{ employeeForm.get('fullName').touched }}
      <br>dirty : {{ employeeForm.get('fullName').dirty }}
      <br>valid : {{ employeeForm.get('fullName').valid }}
      <br>Full Name Value : {{ employeeForm.get('fullName').value }}
    </td>
  </tr>
</table>

<!-- Error messages in html
<form class="form-horizontal" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">

      <div class="form-group" [ngClass]="{'has-error' : employeeForm.get('fullName').errors && (employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty)}">
        <label for="fullName" class="col-sm-2 control-label">Full Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="fullName" formControlName="fullName">
          <span class="help-block" *ngIf="employeeForm.get('fullName').errors && (employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty)">
            <span *ngIf="employeeForm.get('fullName').errors.required">Full Name is required</span>
            <span *ngIf="employeeForm.get('fullName').errors.minlength || employeeForm.get('fullName').errors.maxlength">Full Name must be greater than 1 character and less than 11 characters</span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="email" formControlName="email">
        </div>
      </div>

      <div formGroupName="skills">
        <div class="form-group">
          <label for="skillName" class="col-sm-2 control-label">Skill</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="skillName" formControlName="skillName" placeholder="Name">
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="experienceInYears" formControlName="experienceInYears" placeholder="Experience In Years">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Proficiency</label>
          <div class="col-md-8">
            <label class="radio-inline">
              <input type="radio" value="beginner" formControlName="proficiency">Beginner
            </label>
            <label class="radio-inline">
              <input type="radio" value="intermediate" formControlName="proficiency">Intermediate
            </label>
            <label class="radio-inline">
              <input type="radio" value="advanced" formControlName="proficiency">Advanced
            </label>
          </div>
        </div>
      </div>

    </div>

    <div class="panel-footer">
      <div class="btn-toolbar">
        <button class="btn btn-primary">Save</button>
        <button class="btn btn-primary" type="button" (click)="onLoadDataClick()">Load Data</button>
        <button class="btn btn-primary" type="button" (click)="onPatchDataClick()">Patch Data</button>
      </div>
    </div>
  </div>
</form>
-->