<div class="parent">
  <div class="child-1">Navigation Bar</div>
  <div class="child-2">Background Image</div>
  <div class="child-3">Features</div>
</div>

<div class="info">
  <p>Some styles had to be set in styles.css</p>
  <li>By itself, setting the position to relative has no visual effect on an element.</li>
  <li>If we then set left, right, top or bottom properties, the element will move relative to its normal postion.</li>
  <li>It is possible to move an element outside of its parent's boundaries.</li>
</div>