<main>
    <section id="product-overview">
      <h1>Get the freedom you deserve</h1>
    </section>
  
    <section id="plans">
      <h1 class="section-title">Choose your plan</h1>
      <p>Make sure you get the most for your money!</p>
    </section>
  </main>
  
  <div class="info">
    <p>Selectors, Properties & Values</p>
    <ul>
      <li>Selectors: div, .blog-post, #main-title, [disabled], *</li>
      <li>Properties: background-color, width, color, margin, display</li>
      <li>Values: red, 25%, #fa2563, 10px, block</li>
      <li>For a full list, go to the site <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference">CSS References</a></li>
    </ul>
  </div>
  
  